
<div class="uk-grid-column-large uk-grid-row-large uk-text-left" uk-grid>
    <div>
        <i class="fas fa-globe-europe fa-2x" style="color:rgb(63, 122, 139)">We are:</i>
    </div>
    <div>
        <i class="fas fa-users fa-2x" style="color:rgb(63, 122, 139)">{{countUsers}} users</i>
    </div>
    <div>
        <i class="fas fa-umbrella-beach fa-2x" style="color:rgb(63, 122, 139)">{{countPois}} contributions</i>

    </div>
    <div>
        <i class="fas fa-layer-group fa-2x" style="color:rgb(63, 122, 139)"> {{countCategories}} categories</i>
    </div>

</div>