<div>
    <div class="uk-card uk-card-small uk-card-default uk-animation-scale-up">
        <div class="uk-card-media-top">
            <img src="{{imageurl}}" alt="{{name}}">
        </div>
    </div>
</div>
