<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card subtitle="Login or sign up..." }}
    {{> welcome-menu }}
</div>


<div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="images/tramore2.jpg" uk-img>
    <h1>BEACHES</h1>
    <h2>and where to find them</h2>
</div>
<div class="uk-container uk-padding-small">
    <div class="uk-child-width-1-2@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
        <div uk-slideshow="autoplay: true autoplay-interval: 1500">
            <ul class="uk-slideshow-items"
            {{#each pois}}
                <li>
                    {{> card-main}}
                </li>
            {{/each}}
            </ul>
        </div>
    </div>
    {{> error }}
</div>