<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card }}
    {{> welcome-menu }}
</div>


<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="images/tramore1.jpg" uk-img>
    <h1>Beaches</h1>
</div>
<h4 class="uk-heading-line uk-text-center"><span>and where to find them</span></h4>

<div class="uk-container uk-padding-small">
    <div class="uk-child-width-1-4@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
        {{#each pois}}
            {{> card-main}}
        {{/each}}
    </div>
    {{> error }}
</div>
