<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card subtitle="Make updates..."}}
    {{> main-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <img width="600" src="{{poi.imageUrl}}">
        </div>
        <div class="uk-width-auto@m">
            {{> poi-weather}}
        </div>
       <div class="uk-width-expand@m">
            <div class="uk-card uk-card-default uk-width-xlarge uk-card-body uk-box-shadow-large">
                <h3 class="uk-card-title uk-text-center">Edit: </h3>
                {{> poi-form}}
            </div>
        </div>
    </div>
</div>
