<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card subtitle=""}}
    {{> main-menu }}
</div>
<div>
    {{> analytics-header }}
</div>

<div class="uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
        <div class="uk-card uk-card-default uk-card-body">{{> category-list}}</div>
    </div>
    <div class="uk-width-expand@m">
        <div class="uk-card uk-card-default uk-card-body">{{> poi-list}}</div>
    </div>
</div>